/* 공통 */

@import url(//font.elice.io/EliceDigitalBaeum.css);

html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}

header ul {
  width: 100%;
  list-style-type: none;
  padding: 0 px;
  margin-bottom: 3px;
}

header li {
  width: 32%;
  display: inline-block;
  text-align: center;
  background-color: #ff9763;
}

header a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

header #theme {
  float: right;
  margin: 0px 13px;
}

h1 {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: #ff9763;
}

main div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  background-color: #ebe2d9;
  width: 100%;
  height: 500px;
}

main article {
  width: 50%;
  height: 200px;
  text-align: center;
  padding: 0px 20px;
}

article h3 {
  border: solid #474747 3px;
  color: #474747;
}

footer {
  background-color: rgb(216, 215, 215);
}

footer div {
  width: 100%;
  margin-top: 0px;
  font-size: 10px;
  padding: 30px 0px 30px 20px;
}

header p {
  font-size: 12px;
  padding: 0px 0px 0px 40px;
  margin-top: 0px;
}

/* 홈 */

#myphoto {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 400px;
}

#one,
#three {
  margin-left: 340px;
  margin-bottom: 0px;
}

#two span {
  float: left;
  margin-left: 30px;
}

/* 목표 및 관심분야 */

main #goalMain {
  display: flex;
  background-color: white;
  margin-top: 70px;
  height: 450px;
}

.goalH3 {
  width: max-content;
  background-color: #ebe2d9;
  margin: 15px auto;
  border: solid #ebe2d9 5px;
}

.goalImg {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#goalMain article {
  padding-bottom: 150px;
  margin: 0 auto;
}

/* TMI */

#tmiImg1 {
  width: 200px;
  height: 200px;
  display: block;
}

#tmiImg2 {
  width: 195px;
  height: 200px;
  display: block;
  margin-left: 5px;
}

#tmiImg3 {
  height: 200px;
}

#tmiMain {
  width: 100%;
  height: 550px;
  padding-top: 10px;
}

#nine {
  margin: 0px 0px 0px 340px;
}

#nine div {
  height: 210px;
  margin: 0 auto;
}

#tmiMain p {
  margin-top: 5px;
  font-size: 13px;
}

#eleven li {
  text-align: left;
}

#twelve li {
  text-align: left;
}

#eleven {
  margin: 0px 0px 0px 340px;
}

#twelve h3,
#eleven h3 {
  margin-top: 80px;
}
